{%  extends "base.html"%}
{% load i18n %}
{% block content %}
<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    {% for alert in object_list %}
                    <div class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="{{ alert.picture.url }}" class="img-responsive"
                                                                alt=""></a>

                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#">14 <br>
                                        <small>Feb</small>
                                    </a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails.html">{{ alert.get_species_display
                                    }}</a></h2>

                                <h3 class="post-author">{{ alert.date }}</h3>

                                <h3 class="post-author">{{ alert.get_age_display }}</h3>

                                <p>{{alert.details}}</p>
                                <a href="#" class="read-more">View More</a>

                                <div class="post-bottom overflow">
                                    <ul class="nav nav-justified post-nav">
                                        <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="blog-pagination">
                    <ul class="pagination">
                        <li><a href="#">left</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">right</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item categories">
                        <h3>{% trans 'Show by species' %}</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="{% url 'alerts:list' %}?species=C">Cat</a></li>
                            <li><a href="{% url 'alerts:list' %}?species=D">Dog</a></li>
                            <li><a href="{% url 'alerts:list' %}?species=O">Other</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->

{% endblock %}
