{% extends 'base.html' %}
{% load i18n humanize staticfiles %}

{% block page_title %}{% blocktrans with object_id=object.id %}Alert {{ object_id }}{% endblocktrans %}{% endblock %}

{% block page_title_2 %}{% blocktrans with object_id=object.id %}Alert {{ object_id }}{% endblocktrans %}{% endblock %}

{% block page_subtitle %}{{ object.date|naturaltime|capfirst }}{% endblock %}

{% block content %}

{% if object.immediate_danger %}
    <section class="padding-top">
        <div class="container">
            <div class="alert alert-danger text-uppercase text-center">
                <h3><strong>{% trans 'In immediate danger' %}</strong></h3>
            </div>
        </div>
    </section>
{% endif %}

<section id="portfolio-information" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{ object.picture.url }}" class="img-responsive" alt="">
            </div>
            <div class="col-sm-6">
                <div class="project-name overflow">
                    <h2 class="bold">{% trans 'Details' %}</h2>
                    <ul class="nav">
                        <li><i class="fa fa-clock-o"></i> {{ object.date }} ({{ object.date|naturaltime }})</li>
                    </ul>
                    <ul class="elements">
                        <li>
                            <i class="fa fa-paw"></i> {% trans 'Species:' %} {{ object.get_species_display }}
                        </li>
                        <li><i class="fa fa-paw"></i> {% trans 'Genre:' %} {{ object.get_genre_display }}
                            {% if object.genre == object.GENRE_FEMALE %}<i class="fa fa-venus"></i>
                            {% elif object.genre == object.GENRE_MALE %}<i class="fa fa-mars"></i>
                            {% endif %}</li>
                        <li><i class="fa fa-paw"></i> {% trans 'Age:' %} {{ object.get_age_display }}</li>
                    </ul>
                </div>
                {% if object.details %}
                    <div class="project-info overflow">
                        <h3>{% trans 'Other details' %}</h3>
                        <p>{{ object.details }}</p>
                    </div>
                {% endif %}
                <div class="profect-info overflow">
                    <h2 class="bold">{% trans 'Location' %}</h2>
                    <p>{{ object.get_address }}</p>
                </div>
            </div>
        </div>

        <div class="row padding-top">
            <div class="col-sm-12">
                <div id="gmap"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{% static 'js/gmaps.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}