{%  extends "base.html"%}
{% load i18n humanize %}

{% block page_title %}{% trans 'Latest alerts' %}{% endblock %}

{% block page_title_2 %}{% trans 'Latest alerts' %}{% endblock %}

{% block page_subtitle %}{{ object.date|naturaltime|capfirst }}{% endblock %}

{% block content %}
<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    {% for alert in object_list %}
                    <div class="col-md-4 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="{% url 'alerts:detail' alert.pk %}"><img src="{{ alert.picture.url }}" class="img-responsive"
                                                                alt=""></a>

                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold">{{ alert.get_species_display }} - {{ alert.get_gender_display }} - {{ alert.get_age_display }}</h2>

                                <ul class="nav">
                                    <li><i class="fa fa-clock-o"></i> {{ alert.date }} ({{ alert.date|naturaltime }})</li>
                                </ul>

                                <p>{{alert.details}}</p>
                                <a href="{% url 'alerts:detail' alert.pk %}" class="read-more">View More</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-md-12">
                        {% trans 'No alerts found.' %}
                    </div>
                    {% endfor %}

                </div>
                {% if is_paginated %}
                <div class="blog-pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">left</a></li>
                        {% else %}
                        <li><a href="?page={{ page_obj.number }}">left</a></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        <li {% if page_obj.number == i %} class="active"{% endif %}>
                            <a href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">right</a></li>
                        {% else %}
                        <li><a href="?page={{ page_obj.number }}">right</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item categories">
                        <h3>{% trans 'Filter by species' %}</h3>
                        <ul class="nav navbar-stacked">
                            <li {% if not request.GET.species %}class="active"{% endif %}>
                                <a href="{% url 'alerts:list' %}">{% trans 'All' %}</a>
                            </li>
                            {% for spe in species %}
                            <li {% if request.GET.species == spe.0 %}class="active"{% endif %}>
                                <a href="{% url 'alerts:list' %}?species={{ spe.0 }}">{{ spe.1 }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->

{% endblock %}
