{%  extends "base.html"%}
{% load i18n %}
{% block content %}
<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    {% for alert in object_list %}
                    <div class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="{% url 'alerts:detail' alert.pk %}"><img src="{{ alert.picture.url }}" class="img-responsive"
                                                                alt=""></a>

                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold">{{ alert.get_species_display}}</h2>

                                <h3 class="post-author">{{ alert.date }}</h3>

                                <h3 class="post-author">{{ alert.get_age_display }}</h3>

                                <p>{{alert.details}}</p>
                                <a href="{% url 'alerts:detail' alert.pk %}" class="read-more">View More</a>

                                <div class="post-bottom overflow">
                                    <ul class="nav nav-justified post-nav">
                                        <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                {% if is_paginated %}
                <div class="blog-pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">left</a></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        <li {% if page_obj.number == i %} class="active"{% endif %}>
                            <a href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">right</a></li>
                        {% endif %}


                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item categories">
                        <h3>{% trans 'Show by species' %}</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="{% url 'alerts:list' %}?species=C">Cat</a></li>
                            <li><a href="{% url 'alerts:list' %}?species=D">Dog</a></li>
                            <li><a href="{% url 'alerts:list' %}?species=O">Other</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->

{% endblock %}
